:root 
{ --primary-text-colour:#212121;

  --secondary-text-colour:#757575;

  --accent-colour: #2196f3;

  --background-color:#FFFFFF;
  }

body {
 background-color: var(--background-color);
 color: var(--primary-text-colour);
 font-family: Roboto;
}
/* ========= Header ========= */

/* ========= End Header ========= */
/* ========= Hero ========= */
/* ========= End Hero ========= */
/* ========= Footer ========= */
/* ========= End Footer ========= */

