:root 
{ --primary-text-colour:#757575;

  --title-text-colour:#212121;

  --accent-colour: #2196f3;

  --primery-white-colour:#FFFFFF;
  --dark-background-color:#2F303A;
  --secondary-background-color:#F5F4FA;
  }

body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
  color: var(--primary-text-colour);
  background-color: var(--primery-white-colour);
}
.link {
  text-decoration: none;
  color: inherit;
}
.list {
  list-style: none;
}
/* ========= Header ========= */
.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: #000000;
  }
.logo-accent {
  color: var(--accent-colour)
}
.nav-link{
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--title-text-colour)
  }
  .nav-link:hover,
  .nav-link:focus
  {color: var(--accent-colour) 
}
.current {
  color: var(--accent-colour);
}
.contact-link{
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  }
  .contact-link:hover,
  .contact-link:focus{
    color: var(--accent-colour)
}
/* ========= End Header ========= */

/* ========= Hero ========= */
.hero {
  text-align: center;
}
.hero-container {
  background: var(--dark-background-color)
}
.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--primery-white-colour);
}
.button {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  background: var(--accent-colour);
  color: var(--primery-white-colour);
  background-color: var(--accent-colour);
  }
  .button:hover,
  .button:focus{
  background: #188CE8;
}
/* ========= End Hero ========= */

/* ========= Main ========= */
.subtitle {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--title-text-colour)
}
.desc {
    line-height: 1.71;
    }
.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  
  color: var(--title-text-colour);
  }
.subtitle-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  
  color: var(--title-text-colour);
  }
  /* ========= Our Team ========= */
.our-team-container {
  background: var(--secondary-background-color)
}  
.caption {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

 
/* ========= End Main ========= */

/* ========= Footer ========= */
.footer-container {
  background: var(--dark-background-color)
}
.footer-logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--primery-white-colour);
  }
.map-link {
  font-style: normal;
  line-height: 1.71;
  color: var(--primery-white-colour);
  }
.address-link {
  font-style: normal;
  line-height: 1.71;
  color: rgba(255, 255, 255, 0.6);
  }
  .address-link:hover,
  .address-link:focus {
    color: var(--accent-colour);
  }

/* ========= End Footer ========= */

/* ========= Portfolio ========= */
.btn {
  font-family: 'Roboto', sans-serif;
  background: var(--secondary-background-color); 
cursor: pointer;
font-weight: 500;
font-size: 16px;
line-height: 1.62;
text-align: center;
letter-spacing: 0.03em;
color: var(--title-text-colour)
}
.btn:hover,
.btn:focus
 {
  background: var(--accent-colour);
  color: var(--primery-white-colour);
}
.current-btn{
  background: var(--accent-colour);
  color: var(--primery-white-colour);
}
.title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-text-colour);
  }
.filter {
  font-size: 16px;
  line-height: 1.87;
 }
/* ========= End Portfolio ========= */

